/* Document CSS */

.formAccount .content {
  width: 100vw;
  height: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.formAccount {
  background-color: orange;

  width: 90vw;
  height: 60vw;

  padding: 14px;

  border-radius: 15px;
}

.formAccount .fieldGroup {
  display: flex;

  justify-content: space-between;
}

.formAccount .field {
  display: flex;
  flex-direction: column;
}

.formAccount .field label {
  font-size: 24px;
}
.formAccount .field input,
.formAccount .field select {
  width: 200px;
  height: 40px;

  border-radius: 15px;
  border: 0;

  padding: 6px;
}

.formAccount button {
  width: 200px;
  height: 40px;

  border-radius: 15px;
  border: 0;

  padding: 6px;

  margin-top: 40px;
}
