@import "./variables";

body {
  background-color: var(--bgcolor-body);
  color: var(--textcolor);
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.display {
  visibility: visible;
  width: auto;
  height: auto;
}

.hide {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  width: 0;
  height: 0;
}

input{
  outline: none;
  border: none;
  border-bottom: solid 1px var(--textcolor);
  background-color: inherit;
  color: var(--textcolor-secondary);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
  font-weight: 300;
}
input:focus{
  outline: none;
  border-bottom: solid 1px var(--primary);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
}
/*HEADER-------------------------------------------------------------------------------------------------*/
header {
  width: 100%;
  height: 80px;
  background-color: var(--bgcolor-body);
  position: fixed;
  z-index: 999;
}

.header-container {
  position: absolute;
  width: max-content;
  max-width: 60%;
  max-height: inherit;
  background-color: var(--bgcolor-complement);
  padding: 15px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 5, 0.2);
}

.logo-container {
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 50px;
}

/*MENU-DESKTOP*/



/*MENU-MOBILE*/
.menu-mobile {
  width: 30%;
  max-width: 40px;
  min-width: 30px;
  position: absolute;
  right: 25px;
  top: 15px;
}
.sandwich {
  border: solid 2px var(--textcolor);
  background-color: var(--textcolor);
  margin: 5px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/*FOOTER-------------------------------------------------------------------------------------------------*/
footer {
  padding: 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--textcolor);
  box-shadow: 0px -10px 10px 0px rgba(0, 0, 5, 0.2);
}
